h2 {
    color:darkblue;
}

.list200 ul {
    padding: 0.3em 0.5em;
    color: #ee8992;
    list-style-type: none;
    border: none;
}

.list200 ul li {
    position: relative;
    padding: 0.3em 0 0.3em 1.8em;
    line-height: 1.5;
    /* border-bottom: dashed 1px #ee8992; */
}

.list200 ul li:before {
    position: absolute;
    content: "";
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 14px solid #ee8992;
    top: 8px;
    left: 0.5em;
}

.list2 ul {
    border: solid 2px #ee8992;
    padding: 0.3em 0.5em;
    position: relative;
    color: #ee8992;
    list-style-type: none;
}

.list2 ul li {
    line-height: 1.5;
    padding: 0.5em 0 0.5em 1.4em;
    border-bottom: dashed 1px #ee8992;
}

.list2 ul li:before {
    position: absolute;
    font-family: FontAwesome;
    content: "\f14a";
    left: 0.5em;
    color: #ee8992;
}

.list3 ul, .list3 ol {
    position: relative;
    border: solid 2px #fcb1b1;
    border-radius: 7px;
    background: #fff6e6;
    color: #fcb1b1;
    list-style-type: none;
    padding: 0;
}

.list3 ol {
    counter-reset: number;
}

.list3 ul li, .list3 ol li {
    line-height: 1.5;
    padding: 0.5em 0.5em 0.5em 2em;
    border-bottom: dashed 1px #fcb1b1;
    font-weight: bold;
}

.list3 ul li:before {
    position: absolute;
    font-family: FontAwesome;
    content: "\f14a";
    left: 0.5em;
    color: #fcb1b1;
}

.list3 ol li:before {
    display: inline-block;
    position: absolute;
    font-family: "Quicksand", sans-serif;
    content: counter(number);
    counter-increment: number;
    left: 0.5em;
    width: 22px;
    height: 22px;
    border-radius: 20%;
    background: #fcb1b1;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 22px;
}

.list3 ol li:last-of-type, .list3 ul li:last-of-type {
    border-bottom: none;
}
